:root {
  --titlecolor: #d8d7d7;
  --subtitlecolor: #b1b0b0;
  --subsubtitlecolor: #7e7d7d;
  --cardcolorsolid: var(--cardcolor);
  --cardcolortransparent: var(--cardcolor);
}

.showCard {
  display: flex;
  flex-direction: column;
  background-color: var(--cardcolorsolid);
  align-items: center;
  width: 200px;
  height: 260px;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  cursor: default; 
  position: relative;
}

.showPlaceholder {
  width: 200px;
  height: 260px;
  margin: 0px 0px 0px 0px;
  cursor: default;
  background-color: var(--cardcolorsolid);
}

.showImage {
  display: flex;
  justify-content:center;
  align-items:flex-end;
  width: 200px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  cursor:pointer;
}

.showOverlay {
  display: flex;
  flex-direction: column;
  background-color: var(--cardcolor);
  color: var(--titlecolor);
  width: 200px;
  height: 60px;
  font-size: 8pt;
  margin: 0px 0px 0px 0px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-color: var(--linecolorsolid);
  border-top-width: 3;
  border-top-style: solid;
  opacity: 1;
  background-image: linear-gradient(var(--cardcolortransparent), var(--cardcolorsolid) 20%);
  transition: all 0.25s;
  
}

.showCard:hover .showOverlay {
  height: 230px;
  border-top-color: var(--linecoloralpha);
}

.showTitle {
  color: var(--titlecolor);
  bottom: none;
  font-size: 14px;
  font-weight: bolder;
  line-height: 90%;
  width: 90%;
  transition: all 0.25s;
}
  
.showChannel {
  color: var(--subtitlecolor);
  font-weight:lighter;
  width: 90%;
  transition: all 0.25s;
}

.showJob {
  color: var(--subsubtitlecolor);
  font-size: 10px;
  width: 90%;
  opacity: 0;
  display: none;
  transition: all 0.25s;
}

.showCard:hover .showJob {
  display:flex;
  opacity: 1;
}

.showStarring {
  color: var(--titlecolor);
  font-size: 9px;
  width: 90%;
  margin: 5px 0px 0px 0px;
  opacity: 0;
  display: none;
  transition: all 0.25s;
}

.showCard:hover .showStarring {
  display:flex;
  opacity: 1;
}

.showProducers {
  color: var(--subtitlecolor);
  font-size: 9px;
  width: 90%;
  margin: 5px 0px 10px 0px;
  opacity: 0;
  display: none;
  transition: all 0.25s;
}

.showCard:hover .showProducers {
  display:flex;
  opacity: 1;
}

.showAwards {
  flex-direction: column;
  color: var(--subsubtitlecolor);
  font-size: 8px;
  padding-left: 1.5em;
  text-indent:-1.5em;
  width: 90%;
  opacity: 0;
  display: none;
  transition: all 0.25s;
}

.showCard:hover .showAwards {
  display:flex;
  opacity: 1;
}

