:root {
  --backgroundcolor: rgb(242, 240, 212);
  --boxcolor: #1d2939;
  --cardcolor: #1d2939;
  --textbackgroundcolor: rgb(255, 255, 255);
  --textcolor: rgb(242, 242, 242);
  --linecolor: var(--textcolor);
  --linecolorsolid: var(--linecolor);
  --linecoloralpha: var(--linecolor);
}

body {
  background-color: var(--backgroundcolor);
  background-image: url(../images/halftone.png);
  margin: 0px;
  padding: 0px;
  font-family: "Karla";
  color: var(--textcolor);
}

.vignette {
  content: '';
  position: fixed;
  pointer-events: none;
  top: 0; left: 0; bottom: 0; right: 0;
  background: radial-gradient(circle, transparent 50%, black 150%);
}

.topContainer {
  display: flex;
  height: 160px;
  margin: 0px;
  flex-direction: row;
  justify-content: center;
  }

.titleImage {
  display: flex;
  background-image: url(../images/dawsonbroslogo3.png);
  background-repeat:no-repeat;
  background-size: cover;
  width: 550px;
  height: 124px;
  padding: 0px;
  margin: 20px;
  cursor: pointer;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
}

.latestBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  width: 650px;
  height: 260px;
}

.showListBox {
  display: flex;
  overflow: hidden;
  height: auto;
  width: 650px;

}

.showList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: 16px;
}

.box {
  display: flex;
  /* border-radius: 0px 0px 20px 20px; */
  background-color: var(--textbackgroundcolor);
  color: var(--boxcolor);
  width: 650px;
  margin: 0px;
}

.titleBox {
  display: flex;
  border-radius: 0px;
  background-color: var(--boxcolor);
  width: 650px;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.titleBox:hover {
  display: flex;
  border-radius: 0px;
  background-color: var(--boxcolor);
  width: 650px;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.boxText {
  margin: 20px;
}
.boxImage {
  margin: 0px;
  height: 230px;
  width: 650px;
  /* border-radius: 20px 20px 0px 0px; */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url('../images/dawsonbroslong.jpg')
}

.titleText {
  margin: 10px;
  font-weight:bolder;
}


